body {
  background-color: #E2E2E2;
  font-family: system-ui, sans-serif;
  margin: 0;
  text-align: center;
  color: #384D48;
}

.board {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  width: 325px;
  justify-self: center;
  /* background-color: white; */

}

.sqr {
  width: 30%;
  aspect-ratio: 1/1;
  border: 3px solid black;
  font-size: 64px;
  text-align: center;
  background-color: #D8D4D5;
}

.sqr:hover {
  cursor: pointer;
  background-color: #ACAD94;
}

#reset:hover {
    cursor: pointer;
}

#reset {
  margin: 15px;
    min-height: 20px;
    width: 120px;
    height: 40px;
    border: solid black 3px;
    border-radius: 1cap;
    background-color: antiquewhite;
}

